li {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;

}
li:hover {
    background-color: inherit;
}
ul {
    padding-top: 20px;
    padding-left: 4%;
    text-align: start;
    list-style: none;
}

a {
    text-transform: none;
    text-decoration: none;
    color: inherit;
}
.side-span {
    padding: 3px;
}
.side-span:hover {
    background-color: #dadde1ad;
}