li {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 20px;

}
li:hover {
    background-color: #dadde1ad;;
}
ul {
    padding-top: 20px;
    padding-left: 4%;
    text-align: start;
    list-style: none;
}

a {
    text-transform: none;
    text-decoration: none;
    color: inherit;
}

.darkInput input{
    background-color: #212529
}

.darkTextInput, .darkSelect {
    background-color: #212529 !important;
    color: #dee2e6 !important
}
.darkTextInput::placeholder {
    color: #dee2e6 !important;
}